##############################################################################
#                                                                            #
# Copyright 2024 Lukas Jünger, Nils Bosbach                                  #
#                                                                            #
# This software is licensed under the Apache license.                        #
# A copy of the license can be found in the LICENSE file at the root         #
# of the source tree.                                                        #
#                                                                            #
##############################################################################

### General configuration ####################################################
system.name   = avp64
system.config = ${cfg}

system.throttle.rtf = 1

# Specify simulation duration. Simulation will stop automatically once this
# time-stamp is reached. Use integer values with suffixes s, ms, us or ns. If
# you want to simulate infinitely, leave this commented out.
#  system.duration = 2s

# TLM global quantum, a higher value improves performance but reduces timing
# accuracy. Use integer values with suffixes s, ms, us or ns.
system.quantum = 100us

# Clock frequency
system.clock_cpu.hz = 1000000000 # 1 GHz

### CPU configuration ########################################################
system.cpu.gdb_port   = 5555
system.cpu.gdb_wait   = false
system.cpu.gdb_echo   = false
system.cpu.symbols    = ${dir}/xen.elf

for i : ${system.cpu.ncores} do
    system.cpu.arm${i}.gdb_port = 5210${i}
    system.cpu.arm${i}.gdb_wait = false
done

### Physical Address Map #####################################################

system.addr_ram             = 0x00000000..0x7fffffff
system.addr_hwrng           = 0x90007000..0x90007fff
system.addr_simdev          = 0x90008000..0x90008fff
system.addr_uart0           = 0x90009000..0x90009fff
system.addr_uart1           = 0x9000a000..0x9000afff
system.addr_uart2           = 0x9000b000..0x9000bfff
system.addr_uart3           = 0x9000c000..0x9000cfff
system.addr_sdhci           = 0x9000d000..0x9000dfff
system.addr_rtc             = 0x9000e000..0x9000efff
system.addr_gpio            = 0x9000f000..0x9000ffff
system.addr_lan0            = 0x90010000..0x9001ffff
system.addr_spi             = 0x90020000..0x90020fff
system.cpu.addr_gic_distif  = 0x90140000..0x90140fff
system.cpu.addr_gic_cpuif   = 0x90141000..0x90142fff
system.cpu.addr_gic_vifctrl = 0x90143000..0x90144fff
system.cpu.addr_gic_vcpuif  = 0x90145000..0x90146fff

### Interrupt Map ############################################################

system.irq_uart0       = 5
system.irq_uart1       = 6
system.irq_uart2       = 7
system.irq_uart3       = 8
system.irq_lan0        = 9
system.irq_sdhci       = 10
system.irq_spi         = 11
system.cpu.irq_gt_hyp  = 10
system.cpu.irq_gt_virt = 11
system.cpu.irq_gt_ns   = 14
system.cpu.irq_gt_s    = 13

### Memory and IO peripherals configuration ##################################

# Memory configuration
system.ram.size     = 0x80000000    # 2GB
system.ram.images   = ${dir}/boot.bin@0x00000000 \
                      ${dir}/Image.gz@0x7f600000 \
                      ${dir}/avp64x${system.cpu.ncores}.dtb@0x7ec00000 \
                      ${dir}/xen.bin@0x7ea00000

# SD Card
system.sdcard.readonly = true
system.sdcard.image    = ${dir}/sdcard.img

# Terminal configuration
system.term0.backends  = tui tcp:52010  # stdout|file|tap|null
system.term1.backends  = tcp:52011 # term|file|tap|null
system.term2.backends  = tcp:52012 # term|file|tap|null
system.term3.backends  = tcp:52013 # term|file|tap|null

# ETHOC configuration
system.lan0.eeprom_mac = 3a:44:1d:55:11:5a
system.bridge.backends = slirp:0
