/******************************************************************************
 *                                                                            *
 * Copyright 2024 Lukas Jünger, Nils Bosbach                                  *
 *                                                                            *
 * Licensed under the Apache License, Version 2.0 (the "License");            *
 * you may not use this file except in compliance with the License.           *
 * You may obtain a copy of the License at                                    *
 *                                                                            *
 *     http://www.apache.org/licenses/LICENSE-2.0                             *
 *                                                                            *
 * Unless required by applicable law or agreed to in writing, software        *
 * distributed under the License is distributed on an "AS IS" BASIS,          *
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   *
 * See the License for the specific language governing permissions and        *
 * limitations under the License.                                             *
 *                                                                            *
 ******************************************************************************/

#ifndef NRCPU
#error NRCPU undefined
#endif

#ifndef LINUX_IMAGE_SIZE
#error LINUX_IMAGE_SIZE undefined
#endif

#define IRQ_TYPE_LEVEL_HIGH 4
#define GIC_SPI 0
#define GIC_PPI 1

#define GPIO_ACTIVE_HIGH 0
#define GPIO_ACTIVE_LOW 1

/dts-v1/;

/ {
    model = "Foundation-v8A";
    compatible = "arm,foundation-aarch64", "arm,vexpress";
    interrupt-parent = <&gic>;
    #address-cells = <2>;
    #size-cells = <2>;

    aliases {
        serial0 = &v2m_serial0;
        serial1 = &v2m_serial1;
        serial2 = &v2m_serial2;
        serial3 = &v2m_serial3;
    };

    cpus {
        #address-cells = <2>;
        #size-cells = <0>;

        cpu0: cpu@0 {
            device_type = "cpu";
            compatible = "arm,armv8";
            enable-method = "spin-table";
			cpu-release-addr = <0x0 0x00000090>;
            reg = <0x0 0x0>;
        };

#if NRCPU > 1
        cpu1: cpu@1 {
            device_type = "cpu";
            compatible = "arm,armv8";
            enable-method = "spin-table";
            cpu-release-addr = <0x0 0x00000090>;
            reg = <0x0 0x1>;
        };
#if NRCPU > 2
        cpu2: cpu@2 {
            device_type = "cpu";
            compatible = "arm,armv8";
            enable-method = "spin-table";
            cpu-release-addr = <0x0 0x00000090>;
            reg = <0x0 0x2>;
        };
        cpu3: cpu@3 {
            device_type = "cpu";
            compatible = "arm,armv8";
            enable-method = "spin-table";
            cpu-release-addr = <0x0 0x00000090>;
            reg = <0x0 0x3>;
        };
#if NRCPU > 4
        cpu4: cpu@4 {
            device_type = "cpu";
            compatible = "arm,armv8";
            enable-method = "spin-table";
            cpu-release-addr = <0x0 0x00000090>;
            reg = <0x0 0x4>;
        };
        cpu5: cpu@5 {
            device_type = "cpu";
            compatible = "arm,armv8";
            enable-method = "spin-table";
            cpu-release-addr = <0x0 0x00000090>;
            reg = <0x0 0x5>;
        };
        cpu6: cpu@6 {
            device_type = "cpu";
            compatible = "arm,armv8";
            enable-method = "spin-table";
            cpu-release-addr = <0x0 0x00000090>;
            reg = <0x0 0x6>;
        };
        cpu7: cpu@7 {
            device_type = "cpu";
            compatible = "arm,armv8";
            enable-method = "spin-table";
            cpu-release-addr = <0x0 0x00000090>;
            reg = <0x0 0x7>;
        };
#endif // NRCPU > 4
#endif // NRCPU > 2
#endif // NRCPU > 1
    };

    chosen {
        #address-cells = <1>;
        #size-cells = <1>;
        xen,xen-bootargs = "dtuart=serial0 console=dtuart dom0_mem=512M loglvl=none guest_loglvl=none";
        xen,dom0-bootargs = "earlycon=xenboot console=hvc0 earlyprintk=xen debug loglevel=8 root=/dev/mmcblk0p2 rootwait";
        module@7f600000 {
            compatible = "multiboot,kernel", "multiboot,module";
            reg = <0x7f600000 LINUX_IMAGE_SIZE>;
        };
    };

    memory@0 {
        device_type= "memory";
        reg = <0x0 0x00000000 0x0 0x80000000>;
    };

    timer {
        compatible = "arm,armv8-timer", "arm,armv7-timer";
        interrupts = <GIC_PPI 13 0xFF04>, // GT_S
                      <GIC_PPI 14 0xFF04>, // GT_NS
                      <GIC_PPI 11 0xFF04>, // GT_VIRT
                      <GIC_PPI 10 0xFF04>; // GT_HYP

        clock-frequency = <1000000000>;
    };

    amba {
        #address-cells = <2>;
        #size-cells = <2>;
        compatible = "arm,amba-bus", "simple-bus";
        ranges;

        rng: rng@90007000 {
            compatible = "timeriomem_rng";
            reg = <0x0 0x90007000 0x0 0x4>;
            quality = <1000>;
            period = <0>;
        };

        v2m_serial0: uart@90009000 {
            compatible = "arm,pl011", "arm,primecell";
            reg = <0x0 0x90009000 0x0 0x1000>;
            interrupts = <GIC_SPI 5 IRQ_TYPE_LEVEL_HIGH>;
            clocks = <&v2m_clk24mhz>, <&v2m_clk24mhz>;
            clock-names = "uartclk", "apb_pclk";
        };

        v2m_serial1: uart@9000a000 {
            compatible = "arm,pl011", "arm,primecell";
            reg = <0x0 0x9000a000 0x0 0x1000>;
            interrupts = <GIC_SPI 6 IRQ_TYPE_LEVEL_HIGH>;
            clocks = <&v2m_clk24mhz>, <&v2m_clk24mhz>;
            clock-names = "uartclk", "apb_pclk";
        };

        v2m_serial2: uart@9000b000 {
            compatible = "arm,pl011", "arm,primecell";
            reg = <0x0 0x9000b000 0x0 0x1000>;
            interrupts = <GIC_SPI 7 IRQ_TYPE_LEVEL_HIGH>;
            clocks = <&v2m_clk24mhz>, <&v2m_clk24mhz>;
            clock-names = "uartclk", "apb_pclk";
        };

        v2m_serial3: uart@9000c000 {
            compatible = "arm,pl011", "arm,primecell";
            reg = <0x0 0x9000c000 0x0 0x1000>;
            interrupts = <GIC_SPI 8 IRQ_TYPE_LEVEL_HIGH>;
            clocks = <&v2m_clk24mhz>, <&v2m_clk24mhz>;
            clock-names = "uartclk", "apb_pclk";
        };

        gic: interrupt-controller@90140000 {
            compatible = "arm,gic-400";
            #interrupt-cells = <3>;
            #address-cells = <2>;
            #size-cells = <2>;
            interrupt-controller;
            reg = <0x00000000 0x90140000 0x00000000 0x1000>, // GICD
                  <0x00000000 0x90141000 0x00000000 0x2000>, // GICC
                  <0x00000000 0x90143000 0x00000000 0x2000>, // GICVI
                  <0x00000000 0x90145000 0x00000000 0x2000>; // GICVC
			interrupts = <GIC_PPI 9 0xf04>;
        };

        lan0: lan9118@90010000 {
            compatible = "smsc,lan9118", "smsc,lan9115";
            reg = <0x0 0x90010000 0x0 0x10000>;
            interrupts = <GIC_SPI 9 IRQ_TYPE_LEVEL_HIGH>;
            reg-io-width = <4>;
            phy-mode = "mii";
        };

        sdhci: mmc@9000d000 {
            compatible = "fujitsu,mb86s70-sdhci-3.0";
            reg = <0x0 0x9000d000 0x0 0x1000>;
            interrupts = <GIC_SPI 10 IRQ_TYPE_LEVEL_HIGH>;
            clocks = <&v2m_clk24mhz>, <&v2m_clk24mhz>;
            clock-names = "iface", "core";
        };

        spi: spi@90020000 {
            #address-cells = <0x1>;
            #size-cells = <0x0>;
            compatible = "opencores,tiny-spi-rtlsvn2";
            reg = <0x0 0x90020000 0x0 0x1000>;
            interrupts = <GIC_SPI 11 IRQ_TYPE_LEVEL_HIGH>;
            cs-gpios = <&gpio0 0 GPIO_ACTIVE_LOW>;
            num-chipselects = <1>;
            clock-frequency = <24000000>;
            baud-width = <32>;

            temp-sensor0@0 {
                compatible = "maxim,max31855";
                reg = <0>;
                spi-max-frequency = <4300000>;
            };
        };

        gpio0: gpio@9000f000 {
            compatible = "brcm,bcm6345-gpio";
            reg = <0x0 0x9000f000 0x0 0x4>;
            reg-names = "dat";
            gpio-controller;
            #gpio-cells = <2>;
        };

        rtc0: rtc@9000e000 {
            compatible = "maxim,ds1742";
            reg = <0x0 0x9000e000 0x0 0x800>;
        };
    };

    v2m_clk24mhz: clk24mhz {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <24000000>;
        clock-output-names = "v2m:clk24mhz", "iface", "core";
    };

    v2m_refclk1mhz: refclk1mhz {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <1000000>;
        clock-output-names = "v2m:refclk1mhz";
    };
};
