[submodule "linux/buildroot"]
	path = linux/buildroot
	url = https://github.com/buildroot/buildroot
[submodule "linux/linux_bootcode"]
	path = linux/linux_bootcode
	url = https://github.com/aut0/linux-bootcode
[submodule "xen/xen_bootcode"]
	path = xen/xen_bootcode
	url = https://github.com/aut0/xen_bootcode
[submodule "xen/buildroot"]
	path = xen/buildroot
	url = https://github.com/buildroot/buildroot
[submodule "linux/fb_logo_app/deps/pyvp"]
	path = linux/fb_logo_app/deps/pyvp
	url = https://github.com/machineware-gmbh/pyvp.git
