/******************************************************************************
 *                                                                            *
 * Copyright 2020 Lukas Jünger                                                *
 *                                                                            *
 * Licensed under the Apache License, Version 2.0 (the "License");            *
 * you may not use this file except in compliance with the License.           *
 * You may obtain a copy of the License at                                    *
 *                                                                            *
 *     http://www.apache.org/licenses/LICENSE-2.0                             *
 *                                                                            *
 * Unless required by applicable law or agreed to in writing, software        *
 * distributed under the License is distributed on an "AS IS" BASIS,          *
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   *
 * See the License for the specific language governing permissions and        *
 * limitations under the License.                                             *
 *                                                                            *
 ******************************************************************************/

/dts-v1/;

/ {
	model = "Foundation-v8A";
	compatible = "arm,foundation-aarch64", "arm,vexpress";
	interrupt-parent = <&gic>;
	#address-cells = <1>;
	#size-cells = <1>;

	aliases {
		serial0 = &v2m_serial0;
		serial1 = &v2m_serial1;
		serial2 = &v2m_serial2;
		serial3 = &v2m_serial3;
	};

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x0>;
		};

		cpu1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,armv8";
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x00000090>;
			reg = <0x0 0x1>;
		};
	};

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		xen,xen-bootargs = "dtuart=serial0 console=dtuart dom0_mem=512M loglvl=none guest_loglvl=none";
		xen,dom0-bootargs = "earlycon=xenboot console=hvc0 earlyprintk=xen debug loglevel=8 root=/dev/mmcblk0p2 rootwait";
		module@0x7f600000 {
			compatible = "multiboot,kernel", "multiboot,module";
			reg = <0x7f600000 $LINUX_IMAGE_SIZE>;
		};
	};

	memory@100 {
		device_type= "memory";
		reg = <0x00000100 0x7FFFFF00>;
	};

timer {
		compatible = "arm,armv8-timer", "arm,armv7-timer";
		interrupts = <1 13 0xFF04>, /*secure*/
			         <1 14 0xFF04>, /*non-secure*/
			         <1 11 0xFF04>, /*virtual*/
			         <1 10 0xFF04>; /*hypervisor*/
		clock-frequency = <1000000000>;
	};

amba {
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		compatible = "arm,amba-bus", "simple-bus";
		ranges;

		v2m_serial0: uart@90009000 {
			compatible = "arm,pl011", "arm,primecell";
			reg = <0x90009000 0x1000>;
			interrupts = <0 5 4>;
			clocks = <&v2m_clk24mhz>, <&v2m_clk24mhz>;
			clock-names = "uartclk", "apb_pclk";
		};

		v2m_serial1: uart@9000a000 {
			compatible = "arm,pl011", "arm,primecell";
			reg = <0x9000a000 0x1000>;
			interrupts = <0 6 4>;
			clocks = <&v2m_clk24mhz>, <&v2m_clk24mhz>;
			clock-names = "uartclk", "apb_pclk";
		};

		v2m_serial2: uart@9000b000 {
			compatible = "arm,pl011", "arm,primecell";
			reg = <0x9000b000 0x1000>;
			interrupts = <0 7 4>;
			clocks = <&v2m_clk24mhz>, <&v2m_clk24mhz>;
			clock-names = "uartclk", "apb_pclk";
		};

		v2m_serial3: uart@9000c000 {
			compatible = "arm,pl011", "arm,primecell";
			reg = <0x9000c000 0x1000>;
			interrupts = <0 8 4>;
			clocks = <&v2m_clk24mhz>, <&v2m_clk24mhz>;
			clock-names = "uartclk", "apb_pclk";
		};

		gic: interrupt-controller@90140000 {
			compatible = "arm,cortex-a15-gic";
			#interrupt-cells = <3>;
			#address-cells = <0>;
			interrupt-controller;
			reg = <0x90140000 0x1000>, /*GIC distributor*/
			      <0x90141000 0x2000>, /*GIC cpu interface*/
			      <0x90143000 0x2000>, /*GIC virtual interface control*/
			      <0x90145000 0x2000>; /*GIC virtual cpu interface*/
			interrupts = <1 9 0xf04>;
		};

		ethoc: ethernet@90004000 {
			compatible = "opencores,ethoc";
			reg = <0x90004000 0x2000>;
			interrupts = <0 9 4>;
		};

		sdhci: mmc@9000d000 {
			compatible = "fujitsu,mb86s70-sdhci-3.0";
			reg = <0x9000d000 0x1000>;
			interrupts = <0 10 4>;
			clocks = <&v2m_clk24mhz>, <&v2m_clk24mhz>;
			clock-names = "iface", "core";
		};

	};

	v2m_clk24mhz: clk24mhz {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "v2m:clk24mhz", "iface", "core";
	};

	v2m_refclk1mhz: refclk1mhz {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <1000000>;
		clock-output-names = "v2m:refclk1mhz";
	};

};
